:root {
	--color-primary: #EB5E28;
	--color-bg: #252422;
	--color-bg-subtle: #403D39;
	--color-text-main: #FFFCF2;
	--color-text-subtle: #CCC5B9;
}
* {
	box-sizing: border-box;
}

body, html{
	color: var(--color-text-subtle);
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
    background-image: url("lotus-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

h1, h2, h3 {
	padding: 2px;
	margin: 0;
	color: var(--color-primary);

}

button {
	background-color: var(--color-bg);
	color: var(--color-text-subtle);
	border: none;
	cursor: pointer;

	padding: 8px 36px 8px 36px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
button:hover {
	background-color: var(--color-bg-subtle);
	color: var(--color-text-main);

	border: var(--color-bg) solid 2px;
	padding: 6px 34px 6px 34px;
}
button:active {
	background-color: var(--color-primary);
	color: var(--color-text-main);
}

/* App Elements */

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#main-side-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex: 1;
}

#side-bar {
	display: flex;
	flex-direction: column;
	border: var(--color-bg) solid 2px;
	background: rgba(25, 25, 25, 0.45);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

	max-width: 250px;
	width: 250px;
	padding: 6px;

	transform: translateX(0);
	transition: transform 0.3s ease;
}
#side-bar.closed {
	transform: translateX(-100%);
	display: none;
}

.note-row {
	display: flex;
	flex-direction: row;
}
.note-btn {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.delete-btn {
	max-width: 10px;
}
#clear-data-btn {
	margin-top: auto;
}

#editor-area {
	display: flex;
	flex-direction: column;
	flex: 1;
	border: var(--color-bg) solid 2px;
	min-width: 0;
	min-height: 0;
}

#top-bar {
	display: flex;
	flex-shrink: 0;
	padding-bottom: 6px;
}
#top-bar button {
	max-width: 12%;
}

#note-name-lbl {
	min-width: 180px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#editor-container {
	display: flex;
	flex: 1;
	flex-direction: row;
	min-height: 0;
}

#line-numbers {
	flex-shrink: 0;
	overflow-y: hidden;

	font-size: 14px;
	white-space: pre;
	user-select: none;

	padding: 6px;
}

#editor {
	flex: 1;
	min-width: 0;
	min-height: 0;
	overflow-y: auto;
	color: var(--color-text-subtle);

	font-size: 14px;
	border: var(--color-bg) solid 2px;
	resize: none;
	padding: 6px;

	background: rgba(30, 30, 30, 0.45);
    color: var(--color-text-main);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
#editor:focus {
	color: var(--color-text-main);
	outline: none;
}

#status-bar {
	display: flex;
	flex-direction: row;
	color: var(--color-text-subtle);
	border: var(--color-bg) solid 2px;
}
#status-bar p {
	font-size: 12px;
	padding: 2px;
	margin: 0px;
}

#side-bar-btn {
	padding: 0;
	border: none;
	width: 2%;
}

#prompt-dialog {
	background-color: var(--color-bg-subtle);
	color: var(--color-text-main);
	border: var(--color-primary) solid 2px;

	padding: 20px;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#note-name {
	outline: none;
	background-color: var(--color-bg);
	color: var(--color-text-main);
	border: none;
	z-index: 10;

	padding: 6px;
	width: 100%;
}
