:root {
	--color-primary: #EB5E28;
	--color-bg: #252422;
	--color-bg-subtle: #403D39;
	--color-text-main: #FFFCF2;
	--color-text-subtle: #CCC5B9;
}
* {
	box-sizing: border-box;
}

body, html{
	background-color: var(--color-bg-subtle);
	color: var(--color-text-subtle);
	font-family: 'JetBrains Mono', monospace;

	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	color: var(--color-primary);
}

button {
	background-color: var(--color-bg);
	color: var(--color-text-subtle);
	cursor: pointer;
	border: none;

	padding: 8px 36px 8px 36px;
}
button:hover {
	background-color: var(--color-bg-subtle);
	color: var(--color-text-main);

	border: var(--color-bg) solid 2px;
	padding: 6px 34px 6px 34px;
}
button:active {
	background-color: var(--color-primary);
	color: var(--color-text-main);
}

/* App Elements */

#app {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100vh;
}

#side-bar {
	background-color: var(--color-bg);

	width: 250px;
	padding: 10px;
}

#editor-area {
	flex: 1;
	padding: 6px;
	border: var(--color-bg) solid 2px;
	min-width: 0;
}

#top-bar {
	padding-bottom: 6px;
}

#editor {
	background-color: var(--color-bg);
	color: var(--color-text-subtle);

	font-size: 14px;
	border: none;
	resize: none;
	padding: 10px;
	width: 100%;
	height: 100%;
}
#editor:focus {
	color: var(--color-text-main);
	outline: none;
}

#prompt-dialog {
	background-color: var(--color-bg-subtle);
	color: var(--color-text-main);
	border: var(--color-primary) solid 2px;

	padding: 20px;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#note-name {
	outline: none;
	background-color: var(--color-bg);
	color: var(--color-text-main);
	border: none;

	padding: 6px;
	width: 100%;
}
